# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JetBrains
.idea

# Go Binaries and vendors
examples/sftp_app/sftp_app
examples/s3_app/s3_app
vendor
bin

# Env files
.env

# Coverfiles
*.coverprofile
*.test
coverage.txt
.vscode
